html {
  height: inherit;
  min-height: 100vh;
}

body {
  font-family: $default-font;
  background: $background-color;
  color: $default-font-color;
  height: 100%;
  min-height: 100vh;
}

.text {
  &.center {}
  text-align: center;
}

.main.container {
  margin-top: 55px;
}